* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

#navbar {
    margin-top: 20px;
}

#navbar ul li a {
    padding: 0.75em;
    text-align: center;
    margin: 0;

}

.l-intro {
    font-size: 3rem;
}

.l-heading {
    font-size: 2.5rem;
}

#showcase {
    background: url('../img/gradient.gif') no-repeat center/cover;
    height: 92vh;
    color: #fff;
}

.projects-flex {
    flex-direction: column;
}

.project-header {
    font-size: 1.5em;
}

.projects .project-1,
.projects-flex .project-2,
.projects-flex .project-3 {
    height: 100vh;
}

.projects .project-2 #project-2 {
    background: url('../img/Blog_showcase.png') no-repeat center center/cover;
    box-shadow: 5px 5px 30px #8c9299;
    height: 45vh;

}

.projects .project-3 #project-5 {
    background: url('../img/BTRE_showcase.png') no-repeat center top/cover;

}

.projects .project-3 #project-3 {
    background: url('../img/ContactManager_showcase.png') no-repeat center top/cover;
}

.projects .project-2 #project-4 {
    background: url('../img/OfficeManager_showcase.png') no-repeat center top/cover;

}

.projects .project-1 .project-content {
    background: url('../img/memenet_showcase.png') no-repeat center top/cover;
}

.projects .project-6 .project-content {
    background: url('../img/movie_showcase.png') no-repeat center center/cover;
}

.project-content {
    height: 35vh;
    width: 100%;
}

.project-body,
.project-body-small {
    font-weight: 400;
    font-size: 0.7em;
    margin-top: 0;
}

.project-body-small {
    width: 100vw;
    padding: 0 10vw;
    margin-top: 0;
}

.skills {
    height: 92vh;
    background-image: linear-gradient(to right bottom, #DB47BF, #9C92F4);
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-clip-path: polygon(5% 0, 95% 0, 100% 95%, 0% 100%);
}

.contact {
    height: 92vh;
    display: flex;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(to right top, #DB47BF, #9C92F4);
    -webkit-clip-path: polygon(0 0, 100% 5%, 95% 100%, 5% 95%);
    align-items: center;
    font-size: 0.7em;
}