* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.anchor {
    display: block;
    height: 45px;
    margin-top: -70px;
    visibility: hidden;
}

#navbar ul li a {
    padding: 0.75em;
    text-align: center;
    margin: 0;
}


.l-intro {
    font-size: 3rem;
}

.l-heading {
    font-size: 2.5rem;
}

#showcase {
    background: url('../img/gradient.gif') no-repeat center/cover;
    height: 100vh;
    color: #fff;
}

.projects-flex {
    display: block;
}

.project-header {
    font-size: 2em;
}

.project-body,
.project-body-small {
    font-weight: 400;
    font-size: 0.8em;
}

.skills {
    height: 93vh;

}

contact {
    height: 93vh;

}