* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#navbar ul li a {
    padding: 0.75em;
    text-align: center;
    margin: 0;
}

/* Portfolio */

.projects #project-1,
#project-2,
#project-3 {
    height: 50vh;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-auto-flow: dense;
}

.projects #project-1 .project-content {
    background: linear-gradient(to right bottom, rgba(138, 79, 255, 0.671), rgba(153, 113, 233, 0.747)), url('../img/showcase.jpg') no-repeat center center/cover;
    clip-path: polygon(0% 0, 100% 0, 60% 100%, 0 100%);
    grid-column: 1;

}

.projects #project-2 .project-content {
    background: linear-gradient(to right bottom, rgba(138, 79, 255, 0.671), rgba(153, 113, 233, 0.747)), url('../img/showcase2.jpg') no-repeat center center/cover;
    clip-path: polygon(0% 0, 100% 0, 60% 100%, 0 100%);
    grid-column: 1;

}

.projects #project-3 .project-content {
    background: linear-gradient(to right bottom, rgba(138, 79, 255, 0.671), rgba(153, 113, 233, 0.747)), url('../img/showcase4.jpg') no-repeat center center/cover;
    clip-path: polygon(0% 0, 100% 0, 60% 100%, 0 100%);
    grid-column: 1;
}

.projects .separator {
    padding: 0 30px 10px 5px;
    margin-bottom: -5px;

}

.projects .separator .project-header {
    font-size: 1.5rem;
    justify-content: flex-start;
}

.project-header:before {
    display: none;
}

.tools-used {
    grid-column: 2;

}

.tools-used .tools-title {
    font-size: 1rem;
}

.tools-used .tools-item {
    font-size: 0.8em;
}