* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Muli', sans-serif;

}

a {
    text-decoration: none;
    color: #8c9299;
}

p {
    margin: 0.75rem 0;
}



/* Utility classes */

.l-intro {
    display: flex;
    font-size: 5rem;
    color: #8c9299;
    font-weight: bolder;
}

.intro-greeting {
    color: rgb(155, 11, 168);
}

.l-heading {
    font-size: 5rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
    font-weight: bolder;
}

.anchor {
    display: block;
    height: 50px;
    margin-top: -50px;
    visibility: hidden;
}

/* Showcase */

#showcase {
    background: url('../img/gradient.gif') no-repeat right;
    height: 100vh;
    color: #fff;
}

#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: left;
    height: 100%;
    padding: 0 2rem;
    color: rgb(140, 146, 153);
}

/* Navbar */

#navbar {
    display: flex;
    position: sticky;
    top: 0;
    background: #8c9299;
    color: #fff;
    justify-content: space-between;
    z-index: 2;
    padding: 1rem;
}


#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;

}

#navbar ul li a {
    color: #fff;
    font-weight: 200;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover {
    color: rgb(155, 11, 168);
    border: rgb(155, 11, 168) solid 1px;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
}


/* Portfolio */


.projects .project-3 {
    height: 50vh;
    margin-top: 0;
}

.projects .project-2 #project-2 {
    background: url('../img/blog_showcase.png') no-repeat center center/cover;
}

.projects .project-3 #project-5 {
    background: url('../img/BTRE_showcase.png') no-repeat center center/cover;
}

.projects .project-3 #project-3 {
    background: url('../img/ClientManager_showcase.png') no-repeat center top/cover;
}

.projects .project-2 #project-4 {
    background: url('../img/Office_showcase.png') no-repeat center center/cover;
}

.projects .project-1 .project-content,
.project-2 .project-content,
.project-3 .project-content,
.project-4 .project-content {
    /* background: linear-gradient(to right bottom, rgba(138, 79, 255, 0.3), rgba(153, 113, 233, 0.4)), url('../img/showcase4.jpg') no-repeat center center/cover; */
    background: url('../img/showcase4.jpg') no-repeat center center/cover;
    height: 45vh;
    margin-top: 0;
}



.project-header {
    color: rgb(155, 11, 168);
    font-size: 3em;
    text-align: center;
    margin: 1.2em 0.5em 0.5em 0.5em;
}

.project-body {
    font-weight: 100;
    color: rgb(140, 146, 153);
    text-align: center;
    margin: 0 5%;
    line-height: 1.6em;
    height: 30vh;
    padding: 0 15%;

}

.project-body-small {
    font-weight: 100;
    color: rgb(140, 146, 153);
    text-align: center;
    line-height: 1.6em;
    height: 30vh;
    width: 40vw;
}

.project-pills ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;

}

.project-pills ul li a {
    color: rgb(140, 146, 153);
    border: rgb(140, 146, 153) solid 2px;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
    margin: 0.2em;

}

.project-pills ul li a:hover {
    color: rgb(155, 11, 168) !important;
    border-color: rgb(155, 11, 168);
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
}

.projects-flex {
    display: flex;
    justify-content: space-around;
}

.projects-flex .project-content {
    height: 45vh;
}

/* Skills */

.skills {
    height: 92vh;
    background-image: linear-gradient(to right bottom, #DB47BF, #9C92F4);
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(5% 0, 95% 0, 100% 95%, 0% 100%);

}

.list-group {
    text-align: center;
}

.skills .row-1,
.row-2,
.row-3,
.row-4 {
    /* font-size: 2em; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    margin: 2em;
}


.skills .list-item-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    margin: 2em;
}

.skills .list-item-group .fab,
.list-item-group .fas {
    font-size: 4em;
}

.skills ul li:hover {
    border-bottom: #fff solid 2px;
    color: #fff;
    cursor: pointer;
}

/* Contact  */

.contact {
    height: 92vh;
    display: flex;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(to right top, #DB47BF, #9C92F4);
    clip-path: polygon(0 0, 100% 5%, 95% 100%, 5% 95%);
    align-items: center;
}

.contact ul {
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.contact ul li a {
    margin: 0.5em;
    color: #fff;
}

.contact ul li:hover {
    border-bottom: #fff solid 2px;
    color: #fff;
    cursor: pointer;

}

/* TypeWriter Cursor */
.txt-type>.txt {
    border-right: 0.2rem solid rgb(140, 146, 153);
}

@media screen and (min-width: 769px) and (max-width: 1100px) {


    .l-intro {
        font-size: 4rem;
    }

    .l-heading {
        font-size: 4rem;
    }

    #showcase {
        background: url('../img/gradient.gif') no-repeat center/cover;
        height: 100vh;
        color: #fff;
    }

    .projects .project-1,
    .projects-flex .project-2,
    .projects-flex .project-3 {
        height: 100vh;
    }

    .projects-flex {
        display: block;
    }

    .projects .project-3 #project-5 {
        background: url('../img/BTRE_showcase.png') no-repeat center center/cover;
        height: 50vh;
        width: 100vw;
    }

    .projects .project-3 #project-3 {
        background: url('../img/ContactManager_showcase.png') no-repeat center top/cover;
        height: 50vh;
        width: 100vw;

    }

    .project-content {
        display: block;
        text-align: center;
        margin: 0px;

    }

    .project-body-small {
        width: 100vw;
        padding: 0 20vw;

    }

    .skills {
        height: 95vh;
    }

    .contact {
        height: 95vh;
    }
}